@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #495670;
    border: 3px solid #0a192f;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #0a192f;
}

html {
    --line-color: #e5e7eb;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
    @apply border border-black/10
}

html.dark .github-logo,
html.dark .nextjs-logo,
html.dark .cypress-logo {
    filter: invert(1);
}