@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --border-radius: 4px;
    --light-navy: #112240;
    --light-slate: #a8b2d1;
    --fz-lg: 18px;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}




::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-slate);
    border: 3px solid var(--navy);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--navy);
}



html {
    --line-color: #e5e7eb;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}


.borderBlack {
    @apply border border-black/10
}

/* .project-container {
    max-width: 1000px;
    margin: 50px auto;
} */


/* .project:not(:last-of-type) {
    margin-bottom: 100px;
}


.project {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
} */

/* .project{
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-template-columns: repeat(12, minmax(0, 1fr));
} */

@media screen and (max-width: 768px) {
    .project {
        align-items: flex-start;
    }
}

/* .project-content {
    position: relative;
    grid-column: 1/7;
    grid-row: 1/-1;
} */

/* Estilo para elementos impares */
/* A la izquierda */
/* .project:nth-of-type(odd) .project-content {
    grid-column: 1/7; 
    text-align: left;
} */

/* Estilo para elementos pares */
/* A la derecha */
/* .project:nth-of-type(even) .project-content {
    grid-column: 7 / -1; 
    text-align: right;
} */

@media (max-width: 768px) {

    .project {
        display: flex;
        flex-direction: column-reverse;
    }

    .project-content {
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: column !important;
    }

    /*     .project .project-img {
        height: max-content !important;
        background-color: transparent !important;

    } */

    /*     .project-img:before {
        display: none !important;
    } */

    /*     .project:nth-of-type(odd) .project-content {
        grid-column: 7/7;
        text-align: left;
    }

    .project:nth-of-type(even) .project-content {
        grid-column: 7 / -1;
        text-align: right;
    } */
}


@media (max-width: 1080px) {
    /*     .project:nth-of-type(2n+1) .project-content {
        grid-column: 5 / -1;
    } */

}



@media (max-width: 600px) {
    /*     .project-content {
        grid-column: 1/-1;
        padding: 40px;
    } */
}

/* .project-content .project-label {
    color: rgb(133, 76, 230); 
    font-family: monospace;
} */

/* .project-content .project-title {
    font-size: 2rem;
    margin: 10px 0 30px;
    color: #eee;
} */

/* .project-content .project-details {
    font-size: 15px;
    line-height: 1.5;
    color: #aaa;
} 

-------- continuacion
    --navy-shadow: rgba(2,12,27,0.7);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --border-radius: 4px;
    --light-navy: #112240;
    --light-slate: #a8b2d1;
    --fz-lg: 18px;
*/

/* .project-content .project-details p {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: var(--fz-lg);
} */



@media (max-width: 600px) {
    /*     .project-content .project-details p {
        background-color: transparent;
        padding: 20px 0;
    } */
}

/* .project-content .project-details ul {
    display: flex;
    margin-top: 20px;
} */

/* .project-content .project-details ul li {
    margin-right: 20px;
    color: #aaa;
    font-family: monospace;
} */

/* #64ffda */
/* #64ff8d */
/* .project-img {
    position: relative;
    background-color: rgb(237 233 254)
    z-index: -1;
    background: linear-gradient(0.4turn,rgb(237 233 254) , rgb(168 85 247) ;
    border-radius: 2px;
    grid-row: 1/-1; 
} */

/* Estilo para imágenes en elementos impares */
/* A la derecha */
/* .project:nth-of-type(odd) .project-img {
    grid-column: 6 / -1; 
} */

/* Estilo para imágenes en elementos pares */
/* A la izquierda */
/* .project:nth-of-type(even) .project-img {
    grid-column: 1 / -6; 
}
 */
@media screen and (max-width: 768px) {
    .project-img {
        height: 100%;
    }
}

@media (max-width: 600px) {
    /*     .project-img {
        grid-column: 1/-1;
        opacity: 0.25;
    } */
}

/* .project-img:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: #0a192f;
    mix-blend-mode: screen;
    border-radius: 2px;
} */

/* .project-img img {
    border-radius: 2px;
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
} */

@media screen and (max-width: 768px) {
    .project-img img {
        object-fit: cover;
        width: auto;
        height: 100%;
    }
}

/* .project .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: #ccd6f6;
} */

/* .project:nth-of-type(odd) .project-links {
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-right: 0px;
    margin-left: 10px;

}
.project:nth-of-type(even) .project-links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: 10px;

} */